/* general style */
body{
  font-family: 'Lato', sans-serif;
}

/* typography */
h1,
h2,
h3,
h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-top: 0px;
}

p{
  color: #5c6a88;
}

.p2{
  font-size: 12px;
}

.relative{
  position: relative;
}
/* layout */

/* background section */
section{
  padding-top: 80px;
  padding-bottom: 80px;
}
.grey{
  background-color: #f3f5f9;
}
.blue{
  background-color: #0041be;
}

/* utility */

/* button */
.navbar .nav li .btn{
  padding: 5px 15px;
  background-color: #ffffff;
  border-color: #006aff;
  margin-top: 10px;
  color: #006aff;
}

.btn{
  border-radius: 7px;
  width: 100%;
  font-weight: 600;
}

.btn-blue{
  background-color: #579aff;
  color: white;
}

.btn-white{
  position: relative;
  color: #949494;
  box-shadow: 2px 2px #999;
  border: none;
}
/* navbar */
.nav{
  margin-top: 5px;
}

.navbar{
  background-color: #ffffff;
  border-radius: 0;
  border: none;
  margin-bottom: 0px;
}

.navbar-header .navbar-brand{
  width: 170px;
  height: 30px;
}

.left{
  padding-left: 80px;
}

.navbar .nav li a{
  color: #283c66;
  font-weight: 600;
}

.fa-angle-down{
  position: relative;
  top: 2px;
  padding: 0px 3px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Mostra hamburger */
    .navbar-toggle {
        display: block;
        position: absolute;
        right: 0;
    }
    /* Nascondi contenitore menu */
    .navbar-collapse {
        display: none;
    }
}


/* header top */
/* jumbotron */
.jumbotron{
  height: 500px;
  background-image: url("../img/bg-banner-home.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.jumbotron h1{
  color: white;
  font-size: 60px;
}

.jumbotron p{
  color: #bbc8f5;
  font-weight: 600;
  font-size: 22px;
}

.jumbotron-left{
  padding-top: 20px;
  padding-right: 20px;
}

.white-form{
  background-color: white;
  padding: 30px 20px;
  border-radius: 7px;
}

.form h2{
  font-size: 27px;
  text-align: center;
}

.form-control{
  padding: 20px 4px;
  font-size: 17px;
}

.lightblue{
  color: #006aff;
}

.form-group {
    margin-bottom: 10px;
}

.google button img{
  width: 17px;
  height: 17px;
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translatey(-50%);
}

form .subtext{
  font-size: 14px;
  text-align: center;
}

.subtext span{
  color: #31456d;
}

.subtext a{
  text-decoration: underline;
}

.color-input{
  color: #949494;
  font-weight: bold;
}
